/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

.header ul, .header li , .header a{
    list-style: none;
    padding: 0;
    color: white;
    text-decoration: none;
}

.header .left-links {
    font-weight: bold;
    font-size: 18px;
}

.header .right-links {
    display: flex;
    gap: 20px;
    font-weight: 300;
}

/* hero */

.hero {
    background-color: #1F2937;
    color: white;
    
}


/* gallery */

/* quote */

/* signup */

/* footer */